a {
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  font-family: "Noto Sans Thai";
  font-size: 22px;
}

html {
  text-size-adjust: 100%;
}

h1,
h2 {
  color: black;
  text-align: center;
}

h3,
h4,
h5 {
  color: orange;
  text-align: left;
}

table {
  table-layout: fixed;
}

u {
  text-decoration: underline;
}

#admin-finance-accont-section {
  background-color: white;
  border: 5px solid black;
  padding: 12px;
}

#button-group1 {
  background-color: white;
  border: 5px solid darkslategrey;
  padding: 12px;
}

#button-group2 {
  background-color: white;
  border: 5px solid darkslategrey;
  padding: 12px;
}

#go-back-icon {
  font-size: xx-large;
  color: red;
}

#left-div-button1 {
  background-color: #f26522;
  border: none;
  color: black;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
}

#left-div-button1:hover {
  background-color: #6d6e70;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
}

#left-div-button2 {
  background-color: #f26522;
  border: none;
  color: black;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
}

#left-div-button2:hover {
  background-color: #6d6e70;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
}

#mid-div-button1 {
  background-color: #f26522;
  border: none;
  color: black;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  left: 10%;
  text-align: center;
  text-decoration: bold;
}

#mid-div-button1:hover {
  background-color: #6d6e70;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
}

#mid-div-button2 {
  background-color: #f26522;
  border: none;
  color: black;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  left: 20%;
  text-align: center;
  text-decoration: bold;
}

#mid-div-button2:hover {
  background-color: #6d6e70;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
}

#postgradute-section {
  background-color: white;
  border: 5px solid black;
  padding: 12px;
}

#right-div-button1 {
  background-color: #f26522;
  border: none;
  color: black;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: bold;
  left: 22%;
}

#right-div-button1:hover {
  background-color: #6d6e70;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
}

#right-div-button2 {
  background-color: #f26522;
  border: none;
  color: black;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: bold;
  left: 33%;
}

#right-div-button2:hover {
  background-color: #6d6e70;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
}

#top-action-bar {
  background-color: white;
  border: 8px solid black;
  padding: 16px;
}

#undergradute-section {
  background-color: white;
  border: 5px solid black;
  padding: 12px;
}

.beautiful-table tbody th,
.beautiful-table tbody tr {
  margin: auto;
  width: 50%;
  padding: 1px;
  text-align: center;
}

.beautiful-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.beautiful-table th,
.beautiful-table td {
  border: 1px solid #6d6e70;
  padding: 12px;
}

.beautiful-table th {
  background-color: #f26522;
  color: #fff;
}

.beautiful-table tbody td:hover {
  background-color: #daa06d;
}

.button {
  border: none;
  color: #6d6e70;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-head {
  text-decoration: none;
  color: black;
}

.button-head:hover {
  text-decoration: none;
  color: white;
}

.center {
  text-align: center;
  border: 3px solid green;
}

.even-record {
  background-color: whitesmoke;
}

.fa-file-pdf-o {
  color: #f68a1e;
}

.fa-file-powerpoint-o {
  color: #c03e1c;
}

.fa-file-word-o {
  color: #185abd;
}

.fa-file-word-o:hover, .fa-file-pdf-o:hover, .fa-file-powerpoint-o:hover {
  color: white;
}

.odd-record {
  background-color: lightgray;
}

.tbody-second-column {
  text-align: left;
}

.table-header {
  border: 2px solid #a67436;
}
